<!doctype html>
<html>

<head>
    <title>LGO buyback analyzer</title>
</head>

<body>
    <div id="left-pane">
    </div>
    <div class="flex flex-row">
        <div id="container" class="flex-1"></div>
    </div>
</body>

</html>